[submodule "Codio/Titanic"]
	path = Codio/Titanic
	url = git@github.com:D-G-B/Titanic.git

[submodule "Codio/API-and-RequestsLib"]
    path = Codio/API-and-RequestsLib
    url = git@github.com:D-G-B/API-and-RequestsLib.git

[submodule "Codio/Home-Solutions"]
	path = Codio/Home-Solutions
	url = git@github.com:D-G-B/Home-Solutions.git
